.modal-content-msg {
    z-index: 9999;
    padding: 15px !important;
}

.modal-content-msg svg {
    font-size: 5rem;
}

.modal-content-msg .modal-content {
    padding: 15px !important;
    text-align: center;
}

.mensaje-success {

}
.mensaje-error{

}


.mensaje-success svg {

}